$dark-green: #142112;
$light-green:#1E331D;
$acid-green: #07E423;
$acid-blue: #3EEDFF;

$yellow:#FFFF7B;
$dark-yellow: #383816;

$grey:#3A413A;
$text-color: #DCDCDC;

$dark-red: #4e1515;
$dark-red-border: 1px solid #ce2b2b;

$border: 2px solid rgba(255, 255, 255, .5);
$border-green: 1px solid $acid-green;

$shadow: 8px 8px 0px rgba(16, 26, 16, .50);