.btn {
    width: 90%;
    height: 50px;
    padding: 10px 0;
    border: 2px solid #4aff62;
    border-radius: 6px;
    font-size: 1.5em;
    color: $dark-green;
    font-weight: 700;
    background-color: $acid-green;
    box-shadow: $shadow;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    transition: all 1s ease;

    &:hover::before {
        content: '';
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0;
        animation:btnshow 1.5s ease infinite;
        filter: invert(100%);
    }

    &:focus::before {
        content: '';
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0;
        animation:btnshow 1.5s ease infinite;
        filter: invert(100%);
    }
}

.btn-warning {
    background-color: $dark-red;
    border: $dark-red-border;
    color: #e73c3c;
}

@keyframes btnshow {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }

}
