@font-face {
    src: url('../ASSETS/Fonts/JetBrainMono/JetBrainsMono-Bold.ttf');
    font-family: 'JetBrainMono';
}

body {
    font-family: 'JetBrainMono';
    font-size: 16px;
}

h2 {
    font-weight: 400;
}